<div class="container-fluid">
    <div class="row">
        <div class="col-6 m-zero lolo">
            <img class="d-block w-100 h-100 img-fluid" src="./media/isee-home-preview500avif.avif" alt="sam">
            <div class="contenue">
                <div class="par w-100 h-100">

                </div>
            </div>
        </div>
        <div class="col-6 m-zero lolo">
            <img class="d-block w-100 h-100 img-fluid" src="@@path/assets/media/2.avif" alt="sam">
            <!-- @@path/assets/img/team/profile-picture-1.jpg -->
        </div>
        <!-- <div class="w-100"></div> -->
        <div class="col-6 m-zero lolo">
            <img class="d-block w-100 h-100 img-fluid" src="/media/2.avif" alt="">
        </div>
        <div class="col-6 m-zero lolo">
            <img class="d-block w-100 h-100 img-fluid" src="./media/4.avif" alt="">
        </div>
        <div class="col-6 m-zero lolo">
            <img class="d-block w-100 h-100 img-fluid" src="./media/5.avif" alt="">
        </div>
        <div class="col-6 m-zero lolo">
            <img class="d-block w-100 h-100 img-fluid" src="./media/6.avif" alt="">
        </div>
        <div class="col-6 m-zero lolo">
            <img class="d-block w-100 h-100 img-fluid" src="./media/7.avif" alt="">
        </div>
        <div class="col-6 m-zero lolo">
            <img class="d-block w-100 h-100 img-fluid" src="./media/8.avif" alt="">
        </div>
        <div class="col-6 m-zero lolo">
            <img class="d-block w-100 h-100 img-fluid" src="./media/9.avif" alt="">
        </div>
        <div class="col-6 m-zero lolo">
            <img class="d-block w-100 h-100 img-fluid" src="./media/10.avif" alt="">
        </div>
        <div class="col-6 m-zero lolo">
            <img class="d-block w-100 h-100 img-fluid" src="./media/11.gif" alt="">
        </div>
        <div class="col-6 m-zero lolo">
            <img class="d-block w-100 h-100 img-fluid" src="./media/12.avif" alt="">
        </div>
        <div class="col-6 m-zero lolo">
            <img class="d-block w-100 h-100 img-fluid" src="./media/13.avif" alt="">
        </div>
        <div class="col-6 m-zero lolo">
            <img class="d-block w-100 h-100 img-fluid" src="./media/14.avif" alt="">
        </div>
        <div class="col-6 m-zero lolo">
            <img class="d-block w-100 h-100 img-fluid" src="./media/15.avif" alt="">
        </div>
        <div class="col-6 m-zero lolo">
            <img class="d-block w-100 h-100 img-fluid" src="./media/16.avif" alt="">
        </div>
        <div class="col-6 m-zero lolo">
            <img class="d-block w-100 h-100 img-fluid" src="./media/17.avif" alt="">
        </div>
        <div class="col-6 m-zero lolo">
            <img class="d-block w-100 h-100 img-fluid" src="./media/18.avif" alt="">
        </div>
        <div class="col-6 m-zero lolo">
            <img class="d-block w-100 h-100 img-fluid" src="./media/19.avif" alt="">
        </div>
        <div class="col-6 m-zero lolo">
            <img class="d-block w-100 h-100 img-fluid" src="./media/20.avif" alt="">
        </div>
        <div class="col-6 m-zero lolo">
            <img class="d-block w-100 h-100 img-fluid" src="./media/21.avif" alt="">
        </div>
        <div class="col-6 m-zero lolo">
            <img class="d-block w-100 h-100 img-fluid" src="./media/22.avif" alt="">
        </div>


    </div>
</div>